body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

.container{
  max-width: 1400px;
}



#intro {
  width: 100%;
  padding: 200px 0 120px 0;
}

#intro .intro-img {
  width: 40%;
  float: right;
}
#intro .second-image{
  z-index: 30;
  margin-top:-30%;
  margin-left:30%;
}
#intro .first-image{
  z-index: -1;
  position: relative;
  -webkit-animation: mymove 5s infinite; 
  animation: mymove 5s infinite;
  margin-top:-10%;
}

#intro .intro-info {
  width: 50%;
  float: left;
}

#intro .intro-info h2 {
  margin-bottom: 40px;
  font-size: 80px;
  line-height: .9375em;
  font-weight: 700;
  color: #08104D;
}

#intro .intro-info h2 span {
  color: #ff4b36;
  text-decoration: underline;
}

#intro .intro-info .btn-get-started{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 38px;
  cursor: pointer;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro .intro-info .btn-get-started {
  background: #ff4b36;
  border: 2px solid #ff4b36;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: none;
  border-color: #ff4b36;
  color: #ff4b36;
}

/*keyframe animation hero image */

@-webkit-keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}

/* Standard syntax */
@keyframes mymove {
  0%   {top: 0px;}
  55%  {top: 30px;}
  100%  {top: 0px}
  
}


/*content section */
#content-area .content-area{
  background-image: url("../img/background.png");
  margin-top: -15%;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 30px;
}

/*form */
#content-area .container{
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
/*
#content-area input[type="text"],input[type="number"]{
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  color: #00366f;
  font-size: 18px;
}*/

/*input type style */

.form-container{
  background-color: #00366f;
  padding:20px;
  max-width: 600px;
  margin: auto;
  box-shadow: 5px 10px 18px #888888;
}
.result{
  margin-top: 2px;
  color: white;
  transition: height 2s;
}



.btn{
  margin-top: 30px;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 20px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 5;
  font-size: 16px;
  color: #c4c4c4;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background:#ff4b36;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: white;
  transition: all 0.15s ease;
}
.inp input:not(:placeholder-shown) + span {
  color: white;
  transform: translateY(-26px) scale(0.95);
}
.inp input:focus {
  background: none;
  outline: none !important;
}
.inp input:focus + span {
  color: rgb(212, 212, 212);
  transform: translateY(-26px) scale(0.95);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
  color: rgb(177, 177, 177);
}




/* footer */
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}